SetEnvIf Request_URI "(\.(log|txt|dat|dist|csv|ini|tpl|yml|xml|json|env|htaccess|htpasswd|md)|/(app|bin|logs|migrations|src|tests|tmp|var|vendor)(.)*/)$" ng_dir
Order Allow,Deny
Allow from all
Deny from env=ng_dir

DirectoryIndex index.html index.php

Options All -Indexes

<IfModule mod_rewrite.c>
  # Redirect to the public folder
  RewriteEngine On
  # RewriteBase /
  RewriteRule ^$ public/ [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule (.*) public/$1 [L]

  # Redirect to HTTPS
  # RewriteEngine On
  # RewriteCond %{HTTPS} off
  # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
